div#pulsanti_fixed {
	position:fixed !important;
	right:20px;
	bottom:50px;
	display:block;
	z-index:3;	
}

div#pulsanti_fixed a.actionButton,
.generic_box a.scheda_button {
	font-size:15px;
	text-decoration:none;
	display:block;
	width:40px;
	height:40px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	margin-bottom:10px;
	line-height:40px;
	background-color:#00aced;
	text-align:center;
	box-shadow: 6px 9px 7px -6px rgb(0 0 0 / 75%);
}
div#pulsanti_fixed a.actionButton,
div#pulsanti_fixed a.actionButton i.fa,
.generic_box a.scheda_button i.fa {
	color:#ffffff !important;
}
div#pulsanti_fixed a.actionButton:hover {
	background-color:#8bc34a;
}

div#pulsanti_fixed a.actionButton.csw {
	background-color:#8224E3;
}
div#pulsanti_fixed a.actionButton.saving {
	background-color:#FF6600;
}
div#pulsanti_fixed a.actionButton.csw img {
	width:38px;
	display:block;
	margin-top:1px;
}

form.parent-form {
	width:100%;
}
.form-group .error-message {
	display:none;
}

.user-area .user-avatar {
	height:40px;
	width:40px;
	object-fit: cover;
}
.user-area .user-menu .nav-link {
	font-size:12px;
}

.content {
	position:relative;
	z-index:1;
}

#pageLoader, .content-loader {
	background-image:url(../../images/loading.gif);
	position:fixed;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-color:rgba(255, 255, 255, 0.8);
	background-position:center center;
	display:none;
	z-index:50000;
	top:0;
}

.content-loader {
	position:relative;
	z-index:2;
}
.loader-container {
	position:relative;
	z-index:1;
}
.loader-container:after {
	width:100%;
	height:100%;
	position:absolute;
	content:'';
	background:rgba(255,255,255, 0.7);
	background-image:url(../../images/loading.gif);
	background-repeat:no-repeat;
	background-size:100px 100px;
	background-position:center center;
}

#media-uploader {
	position:relative;
	display:none;
}
#media-uploader.active {
	display:block;
	position:fixed;
	z-index:2;
	bottom:0;
	background-color:#fff;
	width:80%;
	-webkit-box-shadow: 2px 6px 42px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 6px 42px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 6px 42px 0px rgba(0,0,0,0.75);
}

/* Ajax Modal start */
#AjaxModal .saving-button {
	display:none;
}
#AjaxModal .modal-body {
	position:relative;
}
#AjaxModal .modal-body .content-loader {
	height:300px;
}
/* Ajax Modal end */

.list-thumb {
	width:50px; 
	height:50px; 
	object-fit:cover;
}
.rounded-foglia {
	border-radius: 10px 0 10px 0;
}

.f_gallery .pictures_content .picture-item {
	padding-bottom:25px;
}
.f_gallery .pictures_content .picture-item img {
	margin-bottom:10px;
}

.f_gallery .pictures_content .picture-item .actions {
	padding:12px 0 12px 0;
}
.f_gallery .pictures_content .picture-item .actions .action {
	font-size:24px;
}