		
		<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h4>About Me</h4>
							<p>
								We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
							</p>
							<p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h4>Newsletter</h4>
							<p>Stay updated with our latest trends</p>
							<div class="" id="mc_embed_signup">
								 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
								  <div class="input-group">
									<input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
									<div class="input-group-btn">
									  <button class="btn btn-default" type="submit">
										<span class="lnr lnr-arrow-right"></span>
									  </button>    
									</div>
										<div class="info"></div>  
								  </div>
								</form> 
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
						<div class="single-footer-widget">
							<h4>Follow Me</h4>
							<p>Let us be social</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->		

		<script src="{$render.themePath}js/vendor/jquery-2.2.4.min.js"></script>
		<script src="{$render.themePath}js/popper.min.js"></script>
		<script src="{$render.themePath}js/vendor/bootstrap.min.js"></script>
		<!--
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		-->
		<script src="{$render.themePath}js/easing.min.js"></script>			
		<script src="{$render.themePath}js/hoverIntent.js"></script>
		<script src="{$render.themePath}js/superfish.min.js"></script>	
		<script src="{$render.themePath}js/jquery.ajaxchimp.min.js"></script>
		<script src="{$render.themePath}js/jquery.magnific-popup.min.js"></script>	
		<script src="{$render.themePath}js/jquery.tabs.min.js"></script>						
		<script src="{$render.themePath}js/jquery.nice-select.min.js"></script>	
		<script src="{$render.themePath}js/isotope.pkgd.min.js"></script>			
		<script src="{$render.themePath}js/waypoints.min.js"></script>
		<script src="{$render.themePath}js/jquery.counterup.min.js"></script>
		<script src="{$render.themePath}js/simple-skillbar.js"></script>							
		<script src="{$render.themePath}js/owl.carousel.min.js"></script>							
		<script src="{$render.themePath}js/mail-script.js"></script>	
		<script src="{$render.themePath}js/main.js"></script>


	</body>
	
</html>